<ion-header>
  <ion-toolbar>
    <ion-title>Crie sua conta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Nome:</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="usuario.Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email:</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="usuario.Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone:</ion-label>
      <ion-input type="text" name="telefone" [(ngModel)]="usuario.Telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha:</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-button center ion-button block color="success" (click)="registrar()" 
      [disabled]="!usuario.Nome || !usuario.Email || !usuario.Telefone || !senha">
      Salvar
    </ion-button>
    </ion-col>
  </ion-row>
  <ion-router-link style="padding-top:40px; padding-left: 35%; padding-right: 35%;" href="login"><strong style="text-decoration:underline;">Já possui conta?</strong></ion-router-link>
</ion-content>