<ion-header>
  <ion-toolbar>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of itens">
    <app-curso-detalhe [curso]="item"></app-curso-detalhe>
  </div>
  <ion-fab vertical="top" (click)="fina()" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
