<ion-card>
    Nome: {{this.curso.Nome }}
    Duracao: {{this.curso.Duracao }};
    Autor: {{this.curso.Autor }};
    Descricao: {{this.curso.Descricao }};
    Valor: {{this.curso.Valor }};
    Observacoes: {{this.curso.Observacoes }};
    PalavrasChave: {{this.curso.PalavrasChave }};
    Link: {{this.curso.Link }};
    Idioma: {{this.curso.Idioma }}; 
    Tecnologias: {{this.curso.Tecnologias }}; 
    Avaliacao: {{this.curso.Avaliacao }};
    NumAvaliadores: {{this.curso.NumAvaliadores }};
</ion-card>
<ion-button (click)="addCarrinho">Adicionar ao carrinho</ion-button>
